.about-cards {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping */
  overflow-x: hidden; /* Enable horizontal scrolling */
  /* Adjust as needed */
  padding-top: 50px;
  padding-bottom: 70px; /* Add padding to the bottom */
  
  }
  
  .card {
  background-color: #fff;
  border-radius: 60px;
  background: #d9d9d9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 0 0 auto; /* Let cards grow to fit content, but don't shrink */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 400px;
  height: 500px;
  margin-left: 10%;
  margin-right: 10%;
  overflow: hidden;
  
  }
  
  .card:hover {
  box-shadow: 9px 12px 74.2px 0px rgba(0, 0, 0, 0.55);
  transform: translateY(-10px);
  }
  
  .card img {
  max-width: 100%;
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
  }
  
  .card-content {
  text-align: center;
  flex: 1; /* Ensure it takes up available space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px; /* Add padding inside the card */
  }
  
  .card-content h3 {
  font-size: 20px;
  color: #333;
  }
  
  .card-content p {
  font-size: 16px;
  color: #666;
  }
  
  /* Media queries for responsiveness */
  @media only screen and (max-width: 1200px) {
  .card {
  flex: 1 1 calc(50% - 20px);
  max-width: calc(50% - 20px);
  }
  }
  
  @media only screen and (max-width: 768px) {
  .card {
  flex: 1 1 calc(50% - 20px);
  max-width: calc(50% - 20px);
  }
  }
  
  @media only screen and (max-width: 480px) {
  .card {
  flex: 1 1 100%;
  max-width: 100%;
  margin-left: 0; 
  }
  }