.signup-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
  }
  
  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.4;
  }
  
  .form-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1016px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px; /* Adjust the height as per your requirement */
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  
  .form-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  
  }
  
  .form-details {
    width: 60%; /* Adjust width as needed */
  }
  
  .form-details h2,
  .form-details p {
    text-align: left;
    color: #2d3748;
  }
  
  .form-details form {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
  
  .form-details label {
    margin-top: 1rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: #2d3748;
    display: block;
    width: 100%;
  }
  
  .form-details input {
    width: 300px;
    padding: 0.5rem;
    border: 1px solid #cbd5e0;
    border-radius: 2rem;
    margin-top: 0.5rem;
    background-color: #edf2f7;
    color: #2d3748;
  }
  
  .form-details button {
    width: 300px;
    padding: 0.75rem;
    background-color: rgba(101, 167, 232, 1);
    color: white;
    font-weight: 600;
    border-radius: 50px;
  
    cursor: pointer;
  }
  
  .form-details div {
    text-align: left;
    margin-top: 0.2rem;
  }
  
  .image-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 132px;
    flex-grow: 1;
    margin-top: 12.4px;
  }

  .image-containersignup{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 132px;
    flex-grow: 1;
    
  }
  
 .form-image {
  width: 200%;
  height: auto; 
  max-height: 100%; 
  object-fit: cover; 
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}



.password-container {
  position: relative;
}

.toggle-password-icon {
  position: absolute;
  right: 12rem;
  top: 46%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.google-signin-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  border: 1px solid #cbd5e0;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.google-signin-img {
  width: 1.25rem;
  margin-right: 0.5rem;
}

.styled-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  padding: 0.75rem;
  margin: 1rem; /* Adjust the margin as needed */
}
.divider {
  height: 2px;
  background-color: #ccc;
  margin: 20px ;
  width: 270px;
}





  